@model IEnumerable<DDAC_Project.Models.Album>
@{
}
<div class="d-flex justify-content-center">
    <div class="col col-8 mt-3">
        <form action="/search/name">
            <div class="input-group mb-3">

                <input type="text" name="value" class="form-control" placeholder="Search for music album">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>

            </div>
        </form>
    </div>
</div>

<div class="container border border-2">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" >ID</th>
                <th scope="col">Album's Photo</th>
                <th scope="col">Album's Details</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var album in ViewBag.AlbumsPag)
                {
                        <tr>
                            <th scope="row">@album.AlbumId</th>
                            <td style="width:180px;"><img class="img-fluid p-2" style="width:180px;height:170px;" src=@(ViewBag.imgBaseUrl+"album/"+ album.albumPhotos[0].Name)></td>
                            <td>
                                <div class="pb-2">
                                    <span class="fs-6 fw-bold fw-1">Author : </span>
                                    <span>@album.Author</span>
                                </div>
                                <div class="pb-2">
                                    <span class="fs-6 fw-bold fw-1">Category : </span>
                                    <span>@album.albumCategory.Name</span>
                                </div>
                                <div class="pb-2">
                                    <span class="fs-6 fw-bold fw-1">Country of Origin : </span>
                                    <span>@album.CountryOfOrigin</span>
                                </div>
                                <div class="pb-2">
                                    <span class="fs-6 fw-bold fw-1">Release Date : </span>
                                    <span>@album.ReleaseDate.ToString("dd-MM-yyyy")</span>
                                </div>
                            </td>
                            <td>
                                <span>@("RM " + album.Price)</span>
                            </td>
                            <td>
                                <span>@album.Stock</span>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="Album" asp-route-id=@album.AlbumId class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                <a  class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                            </td>

                        </tr>




 
                }
            }

        </tbody>
    </table>
</div>
<cs-pager cs-paging-pagenumber=@ViewBag.pageNumber
          cs-paging-totalitems=@ViewBag.totalItems
          cs-paging-pagesize=@ViewBag.pageSize
          cs-pagenumber-param="pagenumber"
          asp-controller="Album"
          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"></cs-pager>

