@model DDAC_Project.Models.Album
@{
}
@section Scripts {
    <script src="~/js/album/info.js"></script>
    <script src="~/js/show_hide_msgbox.js"></script>
}
<div class="container mt-4">
    <div id="msgBox" class="container d-none">
        <div id="msg" class="alert alert-success"></div>
    </div>
    <div class="row p-4 border border-1 shadow">
        <div class="col col-5">
            <img class="img-fluid" style="width: 400px; height: 420px;" src=@(ViewBag.imgBaseUrl+"album/"+ ViewBag.Albums.AlbumPhotos[0].Name)>
        </div>
        <div class="col col-7">
            <p class="fs-4 fw-bold">@ViewBag.Albums.Name</p>
            <div class="d-flex flex-row bd-highlight mb-2">
                <div class="p-2 bd-highlight"><span class="fs-5">By: @ViewBag.Albums.Author</span></div>
                <div class="p-2 bd-highlight"><span class="fs-5">Category: @ViewBag.Albums.albumCategory.Name</span></div>
            </div>
            <div class="d-flex flex-row bd-highlight mb-2">
                <div class="p-2 bd-highlight"><span class="fs-4">Price: </span><span class="fs-1 text-success fw-bolder">@("RM" + ViewBag.Albums.Price.ToString("0.00")) </span></div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-2">
                <div class="p-2 bd-highlight">
                    <span class="fs-5">Quantity: </span>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="input-group input-group-sm">
                        <span class="input-group-prepend">
                            <button type="button" class="btn btn-outline-secondary btn-number" disabled="disabled" data-type="minus" data-field="quantity">
                                <span class="fa fa-minus"></span>
                            </button>
                        </span>
                        <input type="text" id="quantity_input" name="quantity" style="width:60px;" class="form-control input-number" value="1" min="1" max=@ViewBag.Albums.Stock>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quantity">
                                <span class="fa fa-plus"></span>
                            </button>
                        </span>
                        <span class="p-2"><span class=" stock">@ViewBag.Albums.Stock </span>piece available</span>

                    </div>
                </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-2">
                <div class="p-2 bd-highlight">
                    <a id="add_to_cart"
                       class="btn btn-lg btn-warning fw-bold me-3 @(ViewBag.Albums.Stock == 0 ? "disabled" : "")" 
                       data-url="/cart/addtocart" 
                       data-login="/Auth/Login"
                       data-id=@ViewBag.Albums.AlbumId
                       style="width:200px;">Add To Cart</a>
                    
                    <a id="checkout" data-url="/cart/addtocart" 
                       data-redirect="/cart/index"
                       data-login="/Auth/Login"
                       data-id=@ViewBag.Albums.AlbumId 
                       class="btn btn-lg btn-success fw-bold @(ViewBag.Albums.Stock == 0 ? "disabled" : "") " 
                       style="width:200px;">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-4 border border-1 shadow mt-3">
        <p class="fs-4 fw-bold p-2 bg-light">Product Details</p>
        <span class="pb-2">
            <span class="fs-6 fw-bold fw-1">Author : </span>
            <span>@ViewBag.Albums.Author</span>
        </span>
        <span class="pb-2">
            <span class="fs-6 fw-bold fw-1">Category : </span>
            <span>@ViewBag.Albums.albumCategory.Name</span>
        </span>
        <span class="pb-2">
            <span class="fs-6 fw-bold fw-1">Country of Origin : </span>
            <span>@ViewBag.Albums.CountryOfOrigin</span>
        </span>

        <span class="pb-2">
            <span class="fs-6 fw-bold fw-1">Release Date : </span>
            <span>@ViewBag.Albums.ReleaseDate.ToString("dd-MM-yyyy")</span>
        </span>

    </div>
    <div class="row p-4 border border-1 shadow mt-3">
        <p class="fs-4 fw-bold p-2 bg-light">Product Description</p>
        <span class="pb-2">
            <span>@ViewBag.Albums.Description</span>
        </span>


    </div>
    <div class="row p-4 border border-1 shadow mt-3">
        <p class="fs-4 fw-bold p-2 bg-light">Tracks</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Track</th>

                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (var track in ViewBag.Albums.Tracks)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@track.Name</td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>


    </div>
</div>