@model IEnumerable<DDAC_Project.Models.User>
@{
}

@section Scripts {
    <script src="~/js/staff/manage.js"></script>
}
<div class="d-flex justify-content-center mt-4">
    <div class="col col-8 mt-3">
        <form action="/staff/search/">
            <div class="input-group mb-3">
                <input type="text" name="value" class="form-control" placeholder="Search for staff's email'">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
</div>


<div id="globalMsgBox" class="container d-none">
    <div id="globalMsg" class="alert alert-success"></div>
</div>
<a data-bs-toggle="modal" data-bs-target="#addStaff" class="btn btn-success m-2 float-end">Add staff</a>

<div class="container">
    <table class="table shadow-lg">
        <thead class="table-primary">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var user in ViewBag.users)
                {
                    if (user != null)
                    {
                        <tr>
                            <th scope="row">@user.UserId</th>

                            <td>
                                <span>@user.Email</span>
                            </td>
                            <td>
                                <span>
                                    <a class="btn btn-primary getPassword" data-url="/User/Regeneratepassword/@user.UserId">Get Password</a>

                                </span>
                            </td>

                            <td>
                                <span class="status">@(user.Status == 1 ? "Active" : "Inactive")</span>
                            </td>

                            <td>
                                @if (user.Status == 1)
                                {
                                    <a data-type="deactivate" data-id=@user.UserId data-url="/user/updatestatus/deactivate/@user.UserId" class="btn btn-warning updatestatus d-inline" data-bs-toggle="tooltip" data-bs-placement="top" title="Deactivate"><i class="fas fa-ban"></i></a>

                                }
                                else
                                {
                                    <a data-type="activate" data-id=@user.UserId data-url="/user/updatestatus/activate/@user.UserId" class="btn btn-success updatestatus d-inline" data-bs-toggle="tooltip" data-bs-placement="top" title="Activate"><i class="fas fa-check-circle"></i></a>

                                }


                                    <a data-bs-toggle="modal" data-bs-target=@("#deleteConfirmation_" + user.UserId) class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                <a class="btn btn-success" data-bs-toggle="modal" data-bs-target=@("#staffProfile_" + user.Staff.StaffId)><i class="fas fa-eye"></i></a>
                            </td>

                        </tr>

                        //modal delete staff
                        <div class="modal fade" id=@("deleteConfirmation_" + user.UserId) tabindex="-1" aria-labelledby="deleteConfirmation" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteConfirmationLabel">Delete confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this staff?
                                    </div>
                                    <div class="container msgBoxDelete d-none">
                                        <div class="alert alert-success msgDelete"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-primary deleteuser" data-id="@user.UserId" data-url="/User/Delete/@user.UserId">Yes</a>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        //modal staff profile
                        <div class="modal fade" id=@("staffProfile_" + user.Staff.StaffId) tabindex="-1" aria-labelledby="staffProfile" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteConfirmationLabel">Staff's Profile'</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-body">
                                            <div class="row d-flex pt-2 pb-2">
                                                <div class="col col-4">
                                                    <b>Staff ID:</b>
                                                </div>
                                                <div class="col">
                                                    @user.Staff.StaffId
                                                </div>
                                            </div>
                                            <div class="row d-flex pt-2 pb-2">
                                                <div class="col col-4">
                                                    <b>Name:</b>
                                                </div>
                                                <div class="col">
                                                    @(user.Staff.FirstName == null ? "-" : user.Staff.FirstName) @(user.Staff.LastName == null ? "-" : user.Staff.LastName)
                                                </div>
                                            </div>
                                            <div class="row d-flex pt-2 pb-2">
                                                <div class="col col-4">
                                                    <b>Contact No:</b>
                                                </div>
                                                <div class="col">
                                                    @(user.Staff.ContactNo == null ? "-" : user.Staff.ContactNo)
                                                </div>
                                            </div>
                                            <div class="row d-flex pt-2 pb-2">
                                                <div class="col col-4">
                                                    <b>Date of Birth:</b>
                                                </div>
                                                <div class="col">
                                                    @(user.Staff.DateOfBirth == null ? "-" : user.Staff.DateOfBirth)
                                                </div>
                                            </div>
                                            <div class="row d-flex pt-2 pb-2">
                                                <div class="col col-4">
                                                    <b>Gender:</b>
                                                </div>
                                                <div class="col ">
                                                    @(user.Staff.Gender.ToString() == null ? "-" : user.Staff.Gender == 1 ? "Male" : "Female")
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </tbody>
    </table>
</div>


 <div class="modal fade" id="addStaff" tabindex="-1" aria-labelledby="addStaff" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationLabel">Add new staff</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" name="email" id="staffEmail" class="form-control" placeholder="Enter staff's email' ">
                </div>
            </div>
            <div class="container d-none" id="accountDetails" style="padding-left:33%;">
                <p id="acc_email"><b>Email : </b><span id="emailValue"></span></p>
                <p id="acc_password"><b>Password : </b><span id="passwordValue"></span></p>
            </div>
            <div id="msgBox" class="container d-none">
                <div id="msg" class="alert alert-success"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" id="addStaffSubmit" data-url="/Staff/Add">Create</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
 <div class="d-flex justify-content-center">

     <cs-pager cs-paging-pagenumber=@ViewBag.pageNumber
               cs-paging-totalitems=@ViewBag.totalItems
               cs-paging-pagesize=@ViewBag.pageSize
               cs-pagenumber-param="pagenumber"
               asp-controller="Staff"
               asp-action="Search"
               cs-pager-li-current-class="page-item active"
               cs-pager-li-other-class="page-item"
               cs-pager-li-non-active-class="page-item disabled"
               cs-pager-link-current-class="page-link"
               cs-pager-link-other-class="page-link"></cs-pager>
 </div>
