@model DDAC_Project.Models.User
@{
}

<div class="container shadow-lg p-3 mt-5" style="width:auto;max-width:500px;">

    <div class="container mt-2">
        <div class="d-flex p-2 m-1 justify-content-center md-2">
            <label class="label fs-1 fw-bolder nav-blue text-justify">
                Login
            </label>
        </div>
    </div>
    <div class="container-xl mt-5 ps-3 pe-3">
        @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
        {
        <form>
            <div class="form-group mt-2 mb-2">
                @Html.LabelFor(m => m.Email, new { required = "required", @class = "fw-bold fs-6" })
                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control border border-dark mt-1 shadow", @placeholder = "Enter email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            </div>
            <div class="form-group mt-2 mb-2">
                @Html.LabelFor(m => m.Password, new { @class = "fw-bold fs-6" })
                @Html.PasswordFor(m => m.Password, new { required = "required", @class = "form-control border border-dark mt-1 shadow", @placeholder = "Enter password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-2 mb-2">
                @Html.LabelFor(m => m.Role, new { @class = "fw-bold fs-6" })
                @Html.DropDownListFor(model => model.Role, new SelectList(Enum.GetValues(typeof(UserEnum)).OfType<UserEnum>().Select(
                m => new { Text = m.ToString(), Value = (int)m }).ToList(), "Value", "Text"), "Select Role", new { @class = "form-control form-control-sm border border-dark mt-1 shadow" })
                @Html.ValidationMessageFor(m => m.Role, "", new { @class = "text-danger" })
            </div>
            @Html.ValidationMessage("Global", new { @class = "text-danger" })

            <div class="row">
                <a class="text-end" asp-controller="Auth" asp-action="forgotpassword">Forgot password?</a>
            </div>
            <div class="row">
                <div class="d-flex p-2 m-1 justify-content-center md-2">
                    <button type="submit" class="btn rounded rounded-3 nav-bg-colour text-white fs-4 shadow-lg col col-7 mt-4">Submit</button>
                </div>
            </div>

        </form>
        }
        <div class="text-center">
            <a asp-controller="Auth" asp-action="Register">No account right now? Sign up now</a>
        </div>
    </div>
</div>