@model DDAC_Project.Models.Order
@{

}

@section Css {
    <link href="~/css/order/index.css" type="text/css" rel="stylesheet" />

}
@section Scripts {
    <script src="~/js/order/history.js"></script>
}
<div class="row mt-4">
    <div class="container mb-3" id="messageBox">

        <div class="container">
            @Html.ValidationMessage("success", new { @class = "text-success fw-bolder fs-3" })
            @Html.ValidationMessage("fail", new { @class = "text-danger fw-bolder fs-3" })
        </div>
    </div>
    <div class="col col-12">
        <div class="d-flex justify-content-end">
            <div class="p-1 mt-1">
                <label>Order's Status:</label>
                <select class="form-select border border-dark" id="order_status-input">
                    <option value="0" selected>Order's Status</option>
                    <option value="1">Unpaid</option>
                    <option value="2">Paid</option>
                    <option value="3">Shipped</option>
                    <option value="4">Completed</option>
                    <option value="5">Cancelled</option>
                </select>
            </div>
            <div class="p-1">
                <label>From:</label>
                <input type="date" id="start_date-input" class="form-control border border-dark mt-1" />
            </div>
            <div class="p-1">
                <label>To:</label>
                <input type="date" id="end_date-input" class="form-control border border-dark mt-1" />
            </div>
            <div class="p-1 mt-4">
                <button type="button" id="filter" data-url="/order/history" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 p-2 text-white nav-bg-colour shadow-lg card-rounded">
    <h3 class="fw-bold">Orders</h3>
</div>

<div class="container overflow-auto mt-3 p-4 shadow-lg card-rounded" style="height:auto;max-height:700px;">

    <div class="table-responsive">
        <table class="table ">
            <thead class="text-center mb-4">
                <tr>
                    <th scope="col" style="width:100px;">Image</th>
                    <th scope="col" class="order-product">Product</th>
                    <th scope="col" class="order-quantity">Quantity</th>
                    <th scope="col" class="order-price">Price</th>
                    <th scope="col" class="order-status">Status</th>
                    <th scope="col" class="order-address">Address</th>
                    <th scope="col" class="order-status">Action</th>

                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td rowspan="1" colspan="7"></td>
                </tr>
                @foreach (var order in ViewBag.Orders)
                {
                    int totalQuantity = 0;
                    Double amount = 0.0;
                    @foreach (var item in order.OrderItems)
                    {
                        totalQuantity = totalQuantity + item.Quantity;
                        amount = amount + (item.Quantity * item.Price);
                    }

                    
                    <tr>
                        <th scope="row">
                            <img alt="100%x280" class="order-img" src=@(ViewBag.imgBaseUrl+"album/"+ Uri.EscapeDataString(order.OrderItems[0].Album.AlbumPhotos[0].Name))>
                        </th>
                        <td class="order-product">
                            <p class="order-product pt-3 product-name-wrap text--overflow">@order.OrderItems[0].Album.Name</p>
                        </td>
                        <td class="order-quantity">
                            <p class="order-quantity pt-4">X @totalQuantity</p>
                        </td>
                        <td class="order-price">
                            <p class="order-price product-name-wrap pt-4 text--overflow">RM @amount</p>

                        </td>
                        <td>
                            <p class="order-status product-name-wrap pt-4 text--overflow">@(order.Status == 1 ? "Unpaid" : order.Status == 2 ? "Paid" : order.Status == 3 ? "Shipped" : order.Status == 4 ? "Completed" : order.Status == 5 ? "Cancelled" : "Unknown")</p>

                        </td>
                        <td>
                            <p class="order-address product-name-wrap pt-4 text--overflow">
                                @order.Line
                            </p>
                        </td>
                        <td>
                            @if (order.Status == 1)
                            {
                            <form asp-controller="Order" asp-action="PayOrder" method="post">
                                <input type="hidden" name="orderId" value=@order.OrderId>
                                <button type="submit" class="btn btn-success m-1 text-decoration-none ">Pay Order</button>
                            </form>
                               <a class="btn m-1 btn-danger text-decoration-none " asp-controller="Order" asp-action="Cancel" asp-route-id=@order.OrderId>Cancel Order</a>

                            }
                            else if (order.Status == 3)
                            {
                                <a class="btn btn-primary m-1 text-decoration-none" asp-controller="Order" asp-action="Completed" asp-route-id=@order.OrderId>Order Received</a>

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="d-flex justify-content-center mt-5">

    <cs-pager cs-paging-pagenumber=@ViewBag.pageNumber
              cs-paging-totalitems=@ViewBag.totalItems
              cs-paging-pagesize=@ViewBag.pageSize
              cs-pagenumber-param="pagenumber"
              asp-controller="Order"
              asp-action="History"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link"></cs-pager>
</div>
