<!DOCTYPE html>
@using Microsoft.AspNetCore.Http
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DDAC_Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/nav/nav.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/fontawesome/all.css" type="text/css" rel="stylesheet" />
    <link href="~/css/fontawesome/fontawesome.css" type="text/css" rel="stylesheet" />
    <link href="~/css/fontawesome/solid.css" type="text/css" rel="stylesheet" />
    @RenderSection("Css", required: false)

</head>
<body>

    @if (Context.Session.GetInt32("role") == 2)
    {
        @Html.Partial("_HeaderStaff")
    }
    else if (Context.Session.GetInt32("role") == 3)
    {
        @Html.Partial("_HeaderAdmin")
    }
    else
    {
        @Html.Partial("_HeaderCustomer")
    }


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - DDAC_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/fontawesome/solid.js"></script>
    <script src="~/js/fontawesome/fontawesome.js"></script>
    <script src="~/js/fontawesome/solid.js"></script>
    <script src="~/js/contact_admin.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
