@model DDAC_Project.Models.User

@section Scripts {
    <script src="~/js/admin/profile.js"></script>
}
<div class="container shadow-lg p-3 mt-5" style="width:auto;max-width:800px;">

    <div class="container mt-2">
        <div class="container p-4">
            <div class="row">
                <h2 class="fw-bolder">Edit Admin's Profile</h2>
            </div>
        </div>
        @using (Html.BeginForm("PostEdit", "Admin", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.Email)
            <div class="form-group mt-2 mb-2">
                @Html.LabelFor(m => m.Admin.FirstName, new { @class = "fw-bold fs-6" })
                @Html.TextBoxFor(m => m.Admin.FirstName, "", new { @class = "form-control border border-dark mt-1 shadow", @placeholder = "Enter first name" })
                @Html.ValidationMessageFor(m => m.Admin.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-2 mb-2">
                @Html.LabelFor(m => m.Admin.LastName, new { @class = "fw-bold fs-6" })
                @Html.TextBoxFor(m => m.Admin.LastName, new { @class = "form-control border border-dark mt-1 shadow", @placeholder = "Enter last name" })
                @Html.ValidationMessageFor(m => m.Admin.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-2 mb-2">
                @Html.LabelFor(m => m.Admin.ContactNo, new { @class = "fw-bold fs-6" })
                @Html.TextBoxFor(m => m.Admin.ContactNo, "", new { @type = "number", @class = "form-control border border-dark mt-1 shadow", @placeholder = "Enter contact number" })
                @Html.ValidationMessageFor(m => m.Admin.ContactNo, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mt-2 mb-2">
                @Html.LabelFor(m => m.Admin.DateOfBirth, new { @class = "fw-bold fs-6" })
                @Html.EditorFor(m => m.Admin.DateOfBirth, new { htmlAttributes = new { @class = "form-control border border-dark mt-1 shadow" } })
                @Html.ValidationMessageFor(m => m.Admin.DateOfBirth, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mt-2 mb-2">
                @Html.LabelFor(m => m.Admin.Gender, new { @class = "fw-bold fs-6" })
                <select class="form-control border border-dark mt-1 shadow" name="Gender">
                    @if (Model.Admin.Gender == 1)
                    {
                        <option value="1" selected>Male</option>
                        <option value="2">Female</option>
                    }
                    else if (Model.Admin.Gender == 2)
                    {
                        <option value="1">Male</option>
                        <option value="2" selected>Female</option>
                    }
                    else
                    {
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    }
                </select>
                @Html.ValidationMessageFor(m => m.Admin.Gender, "", new { @class = "text-danger" })
            </div>

            <div class="row mt-3">
                <h2>Address</h2>
            </div>
            <div class="form-group mt-2 mb-2">
                @Html.LabelFor(m => m.Admin.Address.Line, new { @class = "fw-bold fs-6" })
                @Html.TextBoxFor(m => m.Admin.Address.Line, "", new { @type = "text", @class = "form-control border border-dark mt-1 shadow", @placeholder = "Enter address's line" })
                @Html.ValidationMessageFor(m => m.Admin.Address.Line, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-2 mb-2">
                @Html.LabelFor(m => m.Admin.Address.City, new { @class = "fw-bold fs-6" })
                @Html.TextBoxFor(m => m.Admin.Address.City, "", new { @type = "text", @class = "form-control border border-dark mt-1 shadow", @placeholder = "Enter city" })
                @Html.ValidationMessageFor(m => m.Admin.Address.City, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-2 mb-2">
                @Html.LabelFor(m => m.Admin.Address.Region, new { @class = "fw-bold fs-6" })
                @Html.TextBoxFor(m => m.Admin.Address.Region, "", new { @type = "text", @class = "form-control border border-dark mt-1 shadow", @placeholder = "Enter region" })
                @Html.ValidationMessageFor(m => m.Admin.Address.Region, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-2 mb-2">
                @Html.LabelFor(m => m.Admin.Address.PostCode, new { @class = "fw-bold fs-6" })
                @Html.TextBoxFor(m => m.Admin.Address.PostCode, "", new { @type = "number", @class = "form-control border border-dark mt-1 shadow", @placeholder = "Enter post code" })
                @Html.ValidationMessageFor(m => m.Admin.Address.PostCode, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-2 mb-2">
                @Html.LabelFor(m => m.Admin.Address.Country, new { @class = "fw-bold fs-6" })
                @Html.TextBoxFor(m => m.Admin.Address.Country, "", new { @type = "text", @class = "form-control border border-dark mt-1 shadow", @placeholder = "Enter country" })
                @Html.ValidationMessageFor(m => m.Admin.Address.Country, "", new { @class = "text-danger" })
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            @Html.ValidationMessage("fail", new { @class = "text-danger" })


        }

    </div>
</div>